<% if @requests.size > 0 %>
<%= form_tag({:controller => "dashboard", :action => "post_approverequest"}, :method => "post") do %>
<% @requests.each do |request| %>
	<% headingID = "heading" + request.id.to_s %>
	<% collapseID = "collapse" + request.id.to_s %>
	<div>
		<div class="panel panel-default">
				<div style = "background-color: white" class="panel-heading" role="tab" id = <%= "#{headingID}" %> >
					<h4>
					<a data-toggle="collapse" data-parent="#accordion" href=<%= "#"+collapseID %> aria-expanded="false" aria-controls= <%= collapseID %> style = "text-decoration: none;">
						Request: <%= request.updated_at%>
					</a>
					</h4>
			</div>
		</div>
		<div id=<%= collapseID%> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= headingID %>>
		      <div class="panel-body">
		      	<p> <%= label_tag("check#{request.id}", "Approve this request?") %>
		      	<%= select_tag "check#{request.id}", options_for_select([["Do Nothing", "1"], ["Accept", "2"], ["Deny", "3"]], "Do Nothing") %>
		      	<p> If this request was rejected, why was this request not approved? </p>
				<%= text_field_tag("rev#{request.id}", nil, size: "50x2", placeholder: "Place Reason Here") %>
			<!-- Project -->
				<% if request.project %>
					<hr>
					<h4> Project Info </h4>
					<% p = request.project %>
					<%= render :partial => "/request/requestProjectDisplay", :locals => {:p => p} %>
					<hr>
			    <% end %>

		    <!-- Project Instance-->
		    	<% if request.project_instance %>
		    		<% pi = request.project_instance %>
		    		<h4> Implementation Info </h4>
		    		<%= render :partial => "/request/requestInstanceDisplay", :locals => {:pi => pi} %>
					<hr>
		    	<% end %>

		    </div>
		</div>
	</div>
<% end %>
<button type="submit" class="btn btn-primary">Submit</button>
<% end %>
</div>
<% else %>
<h4> No requests to approve! </h4>
<% end %>