<h4> Tell us how your school, specifically, implemented this project. Be detailed! </h4>
	<p> <%= label_tag(:school, "Enter the school name:") %> </p>
	<p> <%= text_field_tag(:school) %> </p>
	<p> <%= label_tag(:town, "Enter the town name:") %> </p>
	<p> <%= text_field_tag(:town) %> </p>
	<p> <%= label_tag(:course, "Enter the course name:") %> </p>
	<p> <%= text_field_tag(:course) %> </p>
	<p> <%= label_tag(:grade_level, "Enter the grade level of the students:") %> </p>
	<p> <%= number_field_tag(:grade_level, nil, in: 1...13) %> </p>
	<p> <%= label_tag(:number_of_students, "Enter the number of students:") %> </p>
	<p> <%= number_field_tag(:number_of_students) %> </p>

	<p> <%= label_tag(:start_date, "Enter the start date:") %> </p>
	<p> <%= date_field_tag(:start_date) %> </p>

	<p> <%= label_tag(:end_date, "Enter the end date:") %> </p>
	<p> <%= date_field_tag(:end_date) %> </p>

	<p> <%= label_tag(:materials_and_costs, "List all of the costs associated with this project:") %> </p>
	<p> <%= text_area_tag(:materials_and_costs, nil, size: "30x5") %> </p>

	<p> <%= label_tag(:learning_goals, "List each of the educational learning standards and other goals for students intended to be covered by the project:") %> </p>
	<p> <%= text_area_tag(:learning_goals, nil, size: "30x5") %> </p>

	<p> <%= label_tag(:community_participation, "Did any individuals from community organizations participate in the project:") %> </p>
	<p> <%= select_tag(:community_participation, "<option>Yes</option><option>No</option>".html_safe) %> </p>

	<p> <%= label_tag(:community_partners, "If so, list them:") %> </p>
	<p> <%= text_field_tag(:community_partners) %> </p>

	<p> <%= label_tag(:steps, "Describe the steps taken in this project:") %> </p>
	<p> <%= text_area_tag(:steps, nil, size: "30x5") %> </p>

	<p> <%= label_tag(:preparation, "Describe how the students prepared for this project:") %> </p>
	<p> <%= text_area_tag(:preparation, nil, size: "30x5") %> </p>

	<p> <%= label_tag(:reflection_activities, "What reflection activities were done to conclude the project:") %> </p>
	<p> <%= text_area_tag(:reflection_activities, nil, size: "30x5") %> </p>

	<p><%= label_tag(:tags, "Tags") %> </p>
	<p>
	<%= select_tag(:tags, options_from_collection_for_select(Tag.all.order_by(:tag_name), "id", "tag_name"), {multiple: true, class: 'form_control', style: 'width:50%'}) %> 
	</p>

	<p> <%= label_tag(:newTags, "Or create your own tags! Separate tags by commas") %> </p>
	<p> <%= text_field_tag(:newTags) %> </p>



