<% reviews.each do |review| %>
	<% headingID = "heading" + review.id.to_s %>
	<% collapseID = "collapse" + review.id.to_s %>
	<div>
	<div class="panel panel-default">
			<div class="panel-heading" role="tab" id = <%= "#{headingID}" %> >
				<a data-toggle="collapse" data-parent="#accordion" href=<%= "#"+collapseID %> aria-expanded="false" aria-controls= <%= collapseID %> style = "text-decoration: none;">
				<h4>Review: <%= review.rating %></h4>
				</a>
				<p><%= review.review_text %> </p>
		</div>
	</div>
	<div id=<%= collapseID%> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= headingID %>>
	      <div class="panel-body">
	      	lkdsjflsdk
	      </div>
	</div>
	</div>
<% end %>
