<div class="page-header">
	<h1><%= @project_instance.project.project_name %> at <%= @project_instance.school %> in <%= @project_instance.town %> </h1>
</div>

<div class="jumbotron" style = "background:#F8F8F8">
  	<div style = "text-align:center">
     <h2><%= @project_instance.project.project_name %></h2>
     <h3><%= @project_instance.start_date%> to <%=@project_instance.end_date%></h3>
   </div>
   <br>

   <div class="row">
     <div class="col-md-4"><p><strong>School:</strong> <%= @project_instance.school %></p></div>
     <div class="col-md-4"><p><strong>Town:</strong> <%= @project_instance.town %></p></div>
     <div class="col-md-4"><p><strong>Course:</strong> <%= @project_instance.course %></p></div>
   </div>
  <div class="row">
    <div class="col-md-4"><p> <strong> Grade:</strong> <%= @project_instance.grade_level %> </p></div>
    <div class="col-md-4"><p> <strong> Students:</strong> <%= @project_instance.number_of_students %> </p></div>
    <div class="col-md-4"><p> <b>Community Partners:</b> <%= @project_instance.community_partners %> </p></div>
  </div>

  <div class="row">
    <div class="col-md-12"><p> <strong> Keywords: </strong><%= @project_instance.tags.where(approved: true).join(", ") %> </p></div>
  </div>

  <div class="row">
    <div class="col-md-12"><p> <strong> Learning Goals: </strong><%= @project_instance.learning_goals %> </p></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p> <strong>Materials and Costs:</strong> <%= @project_instance.materials_and_costs %> </p></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p> <strong>Preparation:</strong> <%= @project_instance.preparation %> </p></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p> <strong>Steps:</strong> <%= @project_instance.steps %> </p></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p> <strong>Reflection Activities: </strong><%= @project_instance.reflection_activities %> </p></div>
  </div>


  <% r = @project_instance.rating_aggregate %>
  <div class="row">
    <% if r.rating != nil %>
      <div class = "col-md-6"><p><strong>Overall Rating:</strong> <%= render "stars", :rating => r.rating.round %></p></div>
    <% end %>
    <% if r.feasibility != nil %>
      <div class = "col-md-6"><p><strong>Feasibility:</strong> <%= render "stars", :rating => r.feasibility.round %></p></div>
    <% end %>
  </div>
  <div class="row">
    <% if r.learning_effectiveness != nil %>
      <div class = "col-md-6"><p><strong>Achieved Learning Goals:</strong> <%= render "stars", :rating => r.learning_effectiveness.round %></p></div>
    <% end %>
    <% if r.learning_score != nil %>
      <div class = "col-md-6"><p><strong>Student Learning Score:</strong> <%= render "stars", :rating => r.learning_score.round %></p></div>
    <% end %>
  </div>
  <div class="row">
    <% if r.planning_score != nil %>
      <div class = "col-md-6"><p><strong>Student involvement in planning:</strong> <%= render "stars", :rating => r.planning_score.round %></p></div>
    <% end %>
    <% if r.students_future_projects != nil %>
      <div class = "col-md-6"><p><strong>Would students participate again:</strong> <%= render "stars", :rating => r.students_future_projects.round %></p></div>
    <% end %>
  </div>
  <div class="row">
    <% if r.impact != nil %>
      <div class = "col-md-6"><p><strong>Community Impact:</strong> <%= render "stars", :rating => r.impact.round %></p></div>
    <% end %>
    <% if r.org_future_projects != nil %>
      <div class = "col-md-6"><p><strong>Would Community Partners participate again:</strong> <%= render "stars", :rating => r.org_future_projects.round %></p></div>
    <% end %>
  </div>



</div>

<div>


  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#teacher" aria-controls="teacher" role="tab" data-toggle="tab">Teacher Reviews</a></li>
      <li role="presentation"><a href="#student" aria-controls="student" role="tab" data-toggle="tab">Student Reviews</a></li>
      <li role="presentation"><a href="#org" aria-controls="org" role="tab" data-toggle="tab">Organization Reviews</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="teacher">
        <% if @teacher_reviews.size == 0 %>
        <h4> There are no teacher reviews for this instance of this project </h4>
        <% else %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <%= render "reviewsList", :reviews => @teacher_reviews %>
          </div>
        <% end %>
        <% if admin_signed_in? || user_signed_in %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createTeacherReview">
          Review this Project
        </button>
        <% else %>
        <h4> Please login to review this project</h4>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="student">
        <% if @student_reviews.size == 0 %>
        <h4> There are no student reviews for this instance of this project </h4>
        <% else %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <%= render "reviewsList", :reviews => @student_reviews %>
          </div>
        <% end %> 
        <% if admin_signed_in? || user_signed_in %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createStudentReview">
         Review this Project
       </button>
       <% else %>
       <h4> Please login to review this project</h4>
       <% end %>
     </div>
     
     <div role="tabpanel" class="tab-pane" id="org">
      <% if @organization_reviews.size == 0 %>
      <h4> There are no organization reviews for this instance of this project </h4>
      <% else %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%= render "reviewsList", :reviews => @organization_reviews %>
        </div>
      <% end %>
      <% if admin_signed_in? || user_signed_in %>  	
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createOrganizationReview">
       Review this Project
     </button>
     <% else %>
     <h4> Please login to review this project</h4>
     <% end %>
   </div>
 </div>

</div>
<br>
<br>

<!-- Modal -->
<div class="modal fade" id="createTeacherReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review this Project </h4>
      </div>
      <%= render "reviews/newteacher" %>
    </div>
  </div>
</div>

<div class="modal fade" id="createStudentReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review this Project </h4>
      </div>
      <%= render "reviews/newstudent" %>
    </div>
  </div>
</div>

<div class="modal fade" id="createOrganizationReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review this Project </h4>
      </div>
      <%= render "reviews/neworg" %>
    </div>
  </div>
</div>
