<div class="page-header">
	<h1>Project: <%= @project.project_name %> </h1>
</div>

<div class="jumbotron" style = "background:#F8F8F8">
	<div style = "text-align:center">
	    <h2><%= @project.project_name %></h2>
	    <h3><%= @project.description %></h3>
    </div>
    <br>

    <div class="row">
  		<div class="col-md-6"><p><strong>Subject:</strong> <%= @project.course_subject %></p></div>
  		<div class="col-md-6"><p><strong>Expected Difficulty:</strong> <%= @project.expected_difficulty %></p></div>
	</div>
	<div class="row">
  		 <div class="col-md-6"><p><strong>Expected duration: </strong><%= @project.duration %></p></div>
  		<div class="col-md-6"><p><strong>Categories:</strong> 
  		<% @project.categories.each do |category| %>
  			<%= link_to category.category_name, controller: "projects", action: "display_category", id: category.id %>, 
  		<%end%> </p></div>
	</div>
	<% r = @project.rating_aggregate %>
	<div class="row">
		<% if r.rating != nil %>
			<div class = "col-md-6"><p><strong>Overall Rating:</strong> <%= render "stars", :rating => r.rating.round %></p></div>
		<% end %>
		<% if r.feasibility != nil %>
			<div class = "col-md-6"><p><strong>Feasibility:</strong> <%= render "stars", :rating => r.feasibility.round %></p></div>
		<% end %>
	</div>
	<div class="row">
		<% if r.learning_effectiveness != nil %>
			<div class = "col-md-6"><p><strong>Achieved Learning Goals:</strong> <%= render "stars", :rating => r.learning_effectiveness.round %></p></div>
		<% end %>
		<% if r.learning_score != nil %>
			<div class = "col-md-6"><p><strong>Student Learning Score:</strong> <%= render "stars", :rating => r.learning_score.round %></p></div>
		<% end %>
	</div>
 </div>

<% if @reviews.size != 0 %>
	<h4> Recent Reviews of this Project </h4>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<%= render "reviewsList", :reviews => @reviews %>
	</div>
<% end %>
<br>
<!-- Project Instances -->
<% if @project.numInstancesApproved != 0 %>
	<h4> Current Examples of this Project Include </h4>
	<ul class="list-group">
		<% @project.approvedInstances.each do |pi| %>
		<a href = <%="/projects/display_instance/#{pi.id}"%> class="list-group-item"> 
			<h4>
			<%= pi.school %>
			</h4>
		</a>
		<% end %>
	</ul>
<% end %>

<% if loggedIn %>
<h4>Add your own implementation to this project!</h4>
<a class="btn btn-primary btn-lg" href=<%="/request/requestInstance/#{@project.id}"%> role="button">Add an implementation!</a>
<% else %>
<h4> Login to add your own implementation to this project! </h4>
<% end %>