<div class="page-header">
	<h1>Category: <%= @category.category_name %></h1>
</div>
<% if @projects.size == 0 %>
	<p class="lead"><%= @category.category_name %> has no projects</p>
<% else %>
	<p class="lead"><%= @category.category_name %> has the following projects</p>
	<ul class="list-group">
	<% @projects.each do |project| %>
		<a href = <%="/projects/display/#{project.id}"%> class="list-group-item"> 
			<h4>
				<%= project.project_name %>
				<span class="badge" style = "float:right"><%= project.numInstancesApproved%></span>
			</h4>
			<p><%= project.description %></p>
		</a>
		<% end %>
	</ul>
<% end %>

<% if user_signed_in? %>
<!-- Button trigger modal -->
<h4>Don't see the right project? Create your own!</h4>
<a class="btn btn-primary btn-lg" href="/request/requestProject" role="button">Create a project</a>
<% else %>
<h4> Don't see the right project? Login to create a new project! </h4>
<% end %>
