<div class="page-header">
	<h1><%= @project_instance.project.project_name %> at <%= @project_instance.school %> in <%= @project_instance.town %> </h1>
</div>
<p class="lead"><%= @project_instance.start_date%> to <%=@project_instance.end_date%></p>
<p> Course Name: <%= @project_instance.course %> </p>
<p> Grade Level: <%= @project_instance.grade_level %> </p>
<p> Number of Students: <%= @project_instance.number_of_students %> </p>
<p> Learning Goals: <%= @project_instance.learning_goals %> </p>
<p> Steps: <%= @project_instance.steps %> </p>
<p> Materials and Costs: <%= @project_instance.materials_and_costs %> </p>
<p> Community Partners: <%= @project_instance.community_partners %> </p>
<p> Preparation: <%= @project_instance.preparation %> </p>
<p> Reflection Activities: <%= @project_instance.reflection_activities %> </p>

