<div class="page-header">
	<h1>Browse Projects by Category</h1>
</div>
<p class="lead">Or create a new category below</p>

<ul class="list-group">
	<% @categories.each do |category| %>
	<a href = <%="/projects/display_category/#{category.id}"%> class="list-group-item"> 
		<h4>
		<%= category.category_name %>
		<span class="badge" style="float:right"><%= category.numApprovedProjects %></span>
		</h4>
	</a>
	<% end %>
</ul>

<% if loggedIn %>
<%= form_tag({:controller => "projects", :action => "post_newcategory"}, :method => "post") do %>
	<%= label_tag(:category_name, "Create new Category:") %>
	<%= text_field_tag(:category_name) %>
	<%= submit_tag("Submit", {class: "btn btn-primary"})%>
<% end %>
<% else %>
<h4> Login to create a new category </h4>
<% end %>
