<%= form_tag({:controller => "reviews", :action => "post_newteacher", :id  => params[:id]}, :method => "post") do %>
	<div class="modal-body">
		<p> <%= label_tag(:rating, "Overall, how would you rate this project?") %> </p>
		<p> <%= select_tag(:rating, "<option value='1'>1 Terrible</option><option value='2'>2 Not Very Good</option><option value='3'>3 Average</option><option value='4'>4 Very Good</option><option value='5'>5 Excellent</option>".html_safe) %> </p>
		<p> <%= label_tag(:feasibility, "How feasible (i.e., easy) was it for you to plan and do this project?") %> </p>
		<p> <%= select_tag(:feasibility, "<option value='1'> 1 Not Feasible At All</option><option value='2'>2 Barely Feasible</option><option value='3'>3 Somewhat Feasible</option><option value='4'>4 Pretty Feasible</option><option value='5'>5 Very Feasible</option>".html_safe) %> </p>
		<p> <%= label_tag(:learning_effectiveness, "How much did the project actually cover the education learning standards or other goals?") %> </p>
		<p> <%= select_tag(:learning_effectiveness, "<option value='1'>1 Not at All</option><option value='2'>2 Barely</option><option value='3'>3 Somewhat Feasible</option><option value='4'>4 Pretty Much</option><option value='5'>5 Very Much</option>".html_safe) %> </p>
		<p> <%= label_tag(:review_text, "Write a review of this project. ") %> </p>
		<p> <%= text_area_tag(:review_text, nil, size: "30x5") %> </p>
	</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
<% end %>